body {
	font-family: "Sen", sans-serif;

	margin: 0;
	padding: 1px;
	background-color: silver;
	min-width: 900px;
}

.App {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

}

.display {
	margin: 0 auto;
	width: fit-content;
	padding: 13px;
	text-align: center;
	margin-top: 25vh;
	margin-bottom: -25vh;
	border-radius: 3px;
	border-bottom: 0.8px solid black;
}

.keyboard {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 900px;

}

span {
	background-color: rgb(0, 0, 0);
	min-width: 40px;
	height: 40px;
	padding: 10px;
	margin: 4px;
	margin-top: 4px;
	color: rgba(245, 245, 245, 0.692);
	border-radius: 7px;
	text-align: center;
	box-shadow: 0px 0px 3px 3px rgba(173, 170, 170, 0.747);
}

.layout-1 {
	position: relative;
	top: 71.5vh;
}

.lf,
.rt,
.up,
.dw {
	margin-top: 0.5px;
	width: 10px;
	height: 20px;
	text-align: center;
	top: 68.5vh;
	line-height: 0.1em;
}

.lf {
	align-self: flex-end;
}

.dw {
	border-top: 1px solid grey;
	align-self: flex-end;
	margin-left: -45px;


}

.rt {
	align-self: flex-end;
}

.layout-2 {
	position: relative;
	top: 57vh;
}

.layout-2 span {
	width: 40px;
}

.layout-3 {
	position: relative;
	top: 45.5vh;
}

.layout-4 {
	position: relative;
	top: 34vh;
}

.layout-5 {
	position: relative;
	top: 22.5vh;
}

.layout-6 {
	position: relative;
	top: 11vh;
}

h1 {
	text-align: center;
}

.row {
	margin: 5px;


}



.Event {
	border: 1px solid rgb(163, 163, 201);
	transition: 0.1s;
	color: white;
	inset: 1px;
}