body {
    background-color: rgb(53, 52, 52);
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 90px;
    color: tomato;
    text-decoration: underline white;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    flex-direction: column;
    margin: 50px auto;
}

.clock_face {
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    top: 50%;
    left: 0%;
    right: 0;
    bottom: 0;
    border: 18px dashed white;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 24px rgba(214, 214, 214, 0.63), inset 0px 0px 5px 12px rgba(214, 207, 214, 0.26);
}

.clock_face .center {
    align-self: center;
    width: 55px;
    height: 55px;
    top: 45%;
    left: 43%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 50px;

}

.hand {
    width: 47%;
    height: 10px;
    /* border: 3px solid whitesmoke; */
    position: absolute;
    top: 49.5%;
    left: 3.1%;
    right: 0;
    bottom: 0;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);


}

.hour {
    background-color: tomato;


}

.mins {
    background-color: rgba(255, 160, 71, 0.671);



}

.secs {
    background-color: rgb(223, 17, 17);



}