body {
    background-color: rgb(41, 46, 51);
}

h4 {
    color: snow;
}

.container {
    border: thin solid slategrey;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

}


.appBorder {
    border: 5px solid snow;
    border-radius: 50%;
    height: 60%;
    width: 50%;
    position: relative;
}

input {
    position: absolute;
    width: 55px;
    left: 44%;
    top: 15%;
    /* border: 1px solid red; */
    border-radius: 5px;
}

.label {
    position: absolute;
    left: 40%;
    top: 22%;
    color: rgb(80, 79, 79);
    text-align: center;
    border-bottom: thin solid gray;
}



.buttons {
    position: absolute;
    left: 33.33%;
    top: 85%;
    /* border: 1px solid red; */
    border-radius: 5px;
    width: 185px;
    text-align: center;
}

.start,
.stop,
.reset {
    width: 30.33%;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

.display {
    position: absolute;
    /* border-radius: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 30%;
    left: 0%;
}

#timer {
    position: absolute;
    top: 33.33%;
    font-size: large;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    border: thin solid rgb(78, 77, 77);
    width: 95px;
    height: 45px;
    color: white;


}



.initialTime {
    text-align: center;
}