body {
    background-color: rgb(41, 46, 51);
    display: flex;
}

h1 {
    color: snow;
}

.container {
    border: thin solid slategrey;
    height: 600px;
    display: flex;
    min-width: 700px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}


.appBorder {
    border: 5px solid snow;
    border-radius: 50%;
    height: 90%;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputField {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

input {
    width: 75px;
    border-radius: 5px;
    text-align: center;
}


.label {
    margin-top: 15px;
    margin-bottom: 0;
    color: rgb(80, 79, 79);
    text-align: center;
    border-bottom: thin solid gray;
}



.display {
    position: relative;
    top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#timer {
    font-size: large;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    border: thin solid rgb(78, 77, 77);
    width: 95px;
    height: 55px;
    color: white;
}

.buttons {
    position: absolute;
    display: flex;
    top: 85%;
    align-items: flex-end;
    justify-content: center;
    border-radius: 5px;
    width: 185px;
    text-align: center;
}

button:hover {
    background-color: dimgray;

    transition: ease-in-out 0.55s;
}

.start,
.stop,
.reset {
    width: 30.33%;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}